.villa_true {
  $primary-blue: #00b3ff;
  $orange: #ffbe10;
  $meetig-brown: #c63;
  $coworking-green: #28bd98;
  $dependence-blue: #4d90b2;
  $grey: #e6e6e6;

  .buttons--wrapper {
    min-width: min-content;
  }

  .btn--fill {
    background-color: $primary-blue;
  }

  .btn--empty {
    color: #fff;
  }

  .bg--coworking {
    background-color: $coworking-green;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--meeting {
    background-color: $meetig-brown;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--dependence {
    background-color: $dependence-blue;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--orange {
    background-color: $orange;
  }

  /*Kontakt Info & SVGs in Header & Footer*/

  .contact {
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 14px;
      height: 14px;
      fill: $primary-blue;
    }
  }

  /*******Header************/
  .header--outer {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 32px;
    .top-header {
      background-color: $grey;
      color: $c-gray-middle;
      width: 100%;
      padding: 8px 0;
      display: flex;
      position: absolute;
      top: 0;
      .container {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        // &::before,
        // &::after {
        //   content: "";
        //   width: 100%;
        // }

        // &::before {
        //   order: 1;
        // }

        // &::after {
        //   order: 2;
        // }

        .contact-bar {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: flex-end;
          gap: 32px;
          order: 3;
        }
      }
    }
    .header {
      padding: 0;
      max-width: 1440px;
      .header--container {
        justify-content: flex-end;

        &:not(.mobile-navi-open) .nav .main-menu > li > a::before {
          background: $orange;
        }
        &:not(.mobile-navi-open) .nav a:hover {
          color: $orange;
        }
      }
    }
  }

  /****** Start Footer **************/
  .footer__main {
    padding: 72px 0;
    .villa-footer {
      display: flex;
      align-items: end;
      justify-content: space-between;
      max-width: 1340px;
      margin: 0 auto;

      img {
        width: 243px;
        padding-bottom: 33px;
      }
      .brand-text {
        max-width: 678px;
        font-size: 16px;
        line-height: 20px;
        color: $c-gray-middle;
      }

      .contact-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 80px;

        .contact {
          font-size: 16px;
          line-height: 1;
          color: $c-gray-middle;
        }
      }

      .sitemap.villa {
        display: flex;
        padding: 0;
        margin: 0;

        .main-menu {
          flex-direction: column;
          align-items: flex-end;

          .menu-item-depth-0 {
            &:last-child > a {
              background-image: none;
              color: $c-gray-dark;
              max-height: 24px;
              width: 100%;
              display: flex;
              justify-content: end;
            }

            .menu-link {
              font-size: 16px;
              line-height: 24px;
              text-align: right;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
    .sitemap {
      display: none;
    }
  }

  /*********Start Module*************/
  .villa.module.price-table {
    .block-wrapper {
      margin-top: 40px;
      .feature-label {
        font-size: 25px;
      }

      .price {
        color: $primary-blue;

        .unit {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .block {
        border: 2px solid $grey;
        border-radius: 16px;
        height: 740px;

        &.highlight {
          background-color: transparent;
          height: 820px;
          border-color: $orange;

          .category {
            font-size: 31.25px;
            line-height: 1;
          }
          .price {
            color: $orange;
            font-size: 40px;
          }
          .flex-col {
            li:not(:last-child) {
              border-bottom-color: $grey;
            }

            .btn--empty {
              color: $orange;
              outline-color: $orange;
            }
          }
        }

        &.block--label {
          text-align: center;
        }

        .flex-col {
          position: relative;
          li {
            line-height: 24px;
            font-size: 16px;
            margin: 0 16px;
            padding: 16px 0;
          }

          .btn--empty {
            color: $primary-blue;
            outline-color: $primary-blue;
            position: absolute;
            bottom: 0;
            width: 100%;
            visibility: visible;
          }
        }
      }
    }
  }

  .teaser.villa-subpage .container {
    margin-left: 0;
    .teaser__content {
      max-width: 509px;
      background-color: #fff;
      padding: 40px 48px 82px 48px;
      gap: 0;
      align-items: flex-start;
      border-radius: 8px;

      h1 {
        color: $orange;
        margin-bottom: 32px;
      }

      p {
        text-align: left;
      }
    }
  }

  .textbox__text-container {
    max-width: 980px;
    margin: 0 auto;
    .textbox__text.editor-content {
      grid-column: span 12;
      p {
        font-size: 24px;

        @media only screen and (max-width: $bp-largest) {
          font-size: 22px;
        }
      }

      h2 {
        font-size: 61px;
      }
    }
  }

  .teaser .logo-wrapper {
    width: 370px;
    margin: 0 auto;
    padding-bottom: 32px;
    @media only screen and (max-width: $bp-largest) {
      padding-bottom: 40px;
    }
  }

  /********************/
  .module.imagetext h2.section-title {
    margin-bottom: 0;
  }

  /****************/
  .module.cards {
    &.three-color-bg {
      max-width: 1440px;
      margin: 0 auto;
      .container {
        max-width: 1440px;
        gap: 0;
        .bd-box {
          width: 100%;
          margin: 60px 0 0 0;
          color: #fff;

          &:nth-child(1) {
            background-color: #f39200;
          }
          &.bd-box:nth-child(2) {
            background-color: #0082ad;
          }
          &.bd-box:nth-child(3) {
            background-color: #9fc51b;
          }

          .card--inner {
            margin: 80px 68px;
            .card__image.flex {
              max-width: 192px;
              max-height: 80px;
              margin: 0 auto;
            }
            .heading {
              display: none;
            }

            p {
              font-size: 16px;
              line-height: 24px;
            }
            a {
              font-weight: 700;
              font-size: 20px;
            }
          }
        }
      }
    }

    .container {
      justify-content: center;

      .bd-box {
        width: 284px;
        margin: 0 40px;

        .card--inner {
          .card__image {
            width: 284px;
            height: 168px;
          }

          .card__text-content {
            padding: 0 10px;
            .heading {
              color: $orange;
              font-size: 32px;
              height: 2em;
            }
          }
        }
      }
    }
  }
}
