.villa_true {
  $primary-blue: #00b3ff;
  $orange: #ffbe10;
  $meetig-brown: #c63;
  $coworking-green: #28bd98;
  $dependence-blue: #4d90b2;
  $grey: #e6e6e6;

  .buttons--wrapper {
    min-width: min-content;
  }

  .btn--fill {
    background-color: $primary-blue;
  }

  .btn--empty {
    color: #fff;
  }

  .bg--coworking {
    background-color: $coworking-green;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--meeting {
    background-color: $meetig-brown;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--dependence {
    background-color: $dependence-blue;
    color: #fff;

    .btn--empty {
      color: #fff;
      outline-color: #fff;
    }
  }

  .bg--orange {
    background-color: $orange;
  }

  &.page:not(.home) .main .module h1,
  &.page:not(.home) .main .module .section_title,
  &.page:not(.home) .main .module h2,
  &.page .header--container:not(.mobile-navi-open) .nav a:hover {
    color: $orange;
  }

  &.page
    .header--container:not(.mobile-navi-open)
    .nav
    .main-menu
    > li
    > a::before {
    background-color: $orange;
  }

  &.cowork.page .main .module h1,
  &.cowork.page .main .module .section_title,
  &.cowork.page .main .module h2,
  &.cowork.page .header--container:not(.mobile-navi-open) .nav a:hover,
  &.cowork.page .book_froom {
    color: $coworking-green;
  }

  &.cowork.page
    .header--container:not(.mobile-navi-open)
    .nav
    .main-menu
    > li
    > a::before,
  &.cowork.page .btn--fill {
    background-color: $coworking-green;
  }

  &.meeting.page .main .module h1,
  &.meeting.page .main .module .section_title,
  &.meeting.page .main .module h2,
  &.meeting.page .header--container:not(.mobile-navi-open) .nav a:hover,
  &.meeting.page .book_froom {
    color: $meetig-brown;
  }

  &.meeting.page
    .header--container:not(.mobile-navi-open)
    .nav
    .main-menu
    > li
    > a::before,
  &.meeting.page .btn--fill {
    background-color: $meetig-brown;
  }

  &.dependence.page .main .module h1,
  &.dependence.page .main .module .section_title,
  &.dependence.page .main .module h2,
  &.dependence.page .header--container:not(.mobile-navi-open) .nav a:hover {
    color: $dependence-blue;
  }

  &.dependence.page
    .header--container:not(.mobile-navi-open)
    .nav
    .main-menu
    > li
    > a::before {
    background-color: $dependence-blue;
  }

  /*Kontakt Info & SVGs in Header & Footer*/

  .contact {
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 14px;
      height: 14px;
      fill: $primary-blue;
    }
  }

  /*******Header************/
  .header--outer {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 32px;
    @media only screen and (max-width: $bp-tablet) {
      padding-top: 0;
    }
    .top-header {
      background-color: $grey;
      color: $c-gray-middle;
      width: 100%;
      padding: 8px 0;
      display: flex;
      position: absolute;
      top: 0;
      @media only screen and (max-width: $bp-tablet) {
        display: none;
      }
      .container {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        // &::before,
        // &::after {
        //   content: "";
        //   width: 100%;
        // }

        // &::before {
        //   order: 1;
        // }

        // &::after {
        //   order: 2;
        // }

        .contact-bar {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: flex-end;
          gap: 32px;
          order: 3;
        }
      }
    }
    .header {
      padding: 0 16px;
      max-width: 1440px;
      .header--container {
        justify-content: flex-end;
      }
    }
  }

  /****** Start Footer **************/
  .footer__main {
    padding: 72px 32px;
    .villa-footer {
      display: flex;
      align-items: end;
      justify-content: space-between;
      max-width: 1340px;
      margin: 0 auto;
      align-items: start;

      @media only screen and (max-width: $bp-tablet) {
        flex-direction: column;
        gap: 32px;
        padding: 16px;
      }

      img {
        width: 243px;
        padding-bottom: 33px;
      }
      .brand-text {
        max-width: 678px;
        font-size: 16px;
        line-height: 20px;
        color: $c-gray-middle;
      }

      .contact-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 80px;
        @media only screen and (max-width: $bp-tablet) {
          padding-left: 0;
          width: 100%;
        }

        .contact {
          font-size: 16px;
          line-height: 1;
          color: $c-gray-middle;
        }
      }

      .sitemap.villa {
        display: flex;
        padding: 0;
        margin: 0;
        @media only screen and (max-width: $bp-tablet) {
          width: 100%;
          justify-content: flex-start;
        }
        .main-menu {
          flex-direction: column;
          align-items: flex-end;
          @media only screen and (max-width: $bp-tablet) {
            align-items: flex-start;
          }

          .menu-item-depth-0 {
            @media only screen and (max-width: $bp-tablet) {
              display: block;
            }
            &:last-child > a {
              background-image: none;
              color: $c-gray-dark;
              max-height: 24px;
              width: 100%;
              display: flex;
              justify-content: end;

              @media only screen and (max-width: $bp-tablet) {
                justify-content: flex-start;
              }
            }

            .menu-link {
              font-size: 16px;
              line-height: 24px;
              text-align: right;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
    .sitemap {
      display: none;
    }
  }

  /*********Start Module*************/
  /*
Bild-Text nur für Dependence
*/

  &.page-id-250 .imagetext {
    .section-title {
      font-size: 48px;
      // padding: 40px 0 80px 0;
    }
    .p-top--medium {
      .section-title {
        padding: 40px 0 80px 0;
      }
    }

    .container {
      @media only screen and (max-width: $bp-largest) {
        display: flex;
        padding-bottom: 80px;
      }

      .imagetext__textbox {
        max-width: 362px;
        grid-column: 2/6;
        padding-left: 20px;
        @media only screen and (max-width: $bp-largest) {
          padding-left: 0;
          text-align: center;
        }

        h2 {
          margin-bottom: 0;
        }

        p {
          font-size: 18px;
        }
      }

      .imagetext__image {
        max-height: 120px;
        max-width: 120px;
        grid-column: 1/3;
      }

      &.text-first {
        .imagetext__textbox {
          grid-column: 6/10;
          text-align: right;

          @media only screen and (max-width: $bp-largest) {
            text-align: center;
          }
        }

        .imagetext__image {
          grid-column: 10/13;
        }
      }
    }
  }

  .villa.module.price-table.dependence {
    .section-title {
      font-size: 48px;
    }

    padding-top: 80px;
    .block-wrapper {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $bp-largest) {
        flex-direction: column;
      }
      .block {
        width: 364px;
        height: 506px;
        border-color: $dependence-blue;
      }
    }
  }

  .villa.module.price-table {
    .block-wrapper {
      margin-top: 40px;
      @media only screen and (max-width: $bp-largest) {
        display: block;
        max-width: 500px;
      }
      .block {
        justify-content: center;
      }
      .feature-label {
        font-size: 25px;
      }

      .price {
        color: $dependence-blue;

        .unit {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .block {
        border: 2px solid $grey;
        border-radius: 16px;
        height: 740px;

        &.highlight {
          background-color: transparent;
          height: 613px;
          border-color: $orange;

          .category {
            font-size: 31.25px;
            line-height: 1;
          }
          .price {
            color: $orange;
            font-size: 40px;
          }
          .flex-col {
            li:not(:last-child) {
              border-bottom-color: $grey;
            }

            .btn--empty {
              color: $orange;
              outline-color: $orange;
            }
          }
        }

        &.block--label {
          text-align: center;
        }

        .flex-col {
          position: relative;
          li {
            line-height: 24px;
            font-size: 16px;
            margin: 0 16px;
            padding: 16px 0;
          }

          .btn--empty {
            color: $primary-blue;
            outline-color: $primary-blue;
            position: absolute;
            bottom: 0;
            width: 100%;
            visibility: visible;
          }
        }
      }
    }
  }

  .teaser.villa-subpage .container {
    margin-left: 0;
    .teaser__content {
      max-width: 509px;
      background-color: #fff;
      padding: 40px 48px 82px 48px;
      gap: 0;
      align-items: flex-start;
      border-radius: 8px;

      h1 {
        margin-bottom: 32px;
      }

      p {
        text-align: left;
        @media only screen and (max-width: $bp-tablet) {
          font-size: 18px;
        }
      }
    }
  }

  .textbox__text-container {
    max-width: 980px;
    margin: 0 auto;

    @media only screen and (max-width: $bp-tablet) {
      padding-left: 16px;
      padding-right: 16px;
    }
    .textbox__text.editor-content {
      grid-column: span 12;
      p {
        font-size: 24px;

        @media only screen and (max-width: $bp-largest) {
          font-size: 22px;
        }
      }

      h2 {
        font-size: 61px;
      }
    }
  }

  .teaser .logo-wrapper {
    width: 370px;
    margin: 0 auto;
    padding-bottom: 32px;
    @media only screen and (max-width: $bp-largest) {
      padding-bottom: 40px;
    }
  }

  /********************/
  .module.imagetext h2.section-title {
    margin-bottom: 0;
  }

  .imagetext .container .buttons--wrapper {
    @media only screen and (max-width: $bp-tablet) {
      width: max-content;
    }
  }

  /****************/
  .module.cards {
    &.three-color-bg {
      max-width: 1440px;
      margin: 0 auto;
      .container {
        max-width: 1440px;
        gap: 0;
        .bd-box {
          width: 100%;
          margin: 60px 0 0 0;
          color: #fff;
          @media only screen and (max-width: $bp-tablet) {
            margin: 0;
          }

          &:nth-child(1) {
            background-color: #f39200;
          }
          &.bd-box:nth-child(2) {
            background-color: #0082ad;
          }
          &.bd-box:nth-child(3) {
            background-color: #9fc51b;
          }

          .card--inner {
            margin: 80px 68px;
            .card__image.flex {
              max-width: 192px;
              max-height: 80px;
              margin: 0 auto;
            }
            .heading {
              display: none;
            }

            p {
              font-size: 16px;
              line-height: 24px;
            }
            a {
              font-weight: 700;
              font-size: 20px;
            }
          }
        }
      }
    }

    .container {
      justify-content: center;
      @media only screen and (max-width: $bp-tablet) {
        flex-direction: column;
        align-items: center;
      }

      .bd-box {
        width: 284px;
        margin: 0 40px;
        @media only screen and (max-width: $bp-tablet) {
          min-width: 284px;
          margin: 0;
        }

        .card--inner {
          @media only screen and (max-width: $bp-tablet) {
            margin: 0;
            padding-bottom: 80px;
          }
          .card__image {
            width: 284px;
            height: 168px;
          }

          .card__text-content {
            padding: 0 10px;
            .heading {
              color: $orange;
              font-size: 32px;
              height: 2em;
            }
          }
        }
      }
    }
  }
}
