.cards {
  // Structure & Spaces(paading margin)
  img {
    width: 100%;
    border-radius: 8px;
  }
  .container {
    display: flex;
    column-gap: 24px;
  }
  .card {
    width: 100%;
  }
  .card--inner {
    margin: 10%;
    max-width: 100%;
  }
  .card__text-content {
    .heading {
      margin: 0.5em 0;
    }
    .buttons {
      margin: 1.5em 0;
      *:first-child {
        margin-bottom: 1em;
      }
    }
  }
  //slide
  overflow-x: scroll;
  @include hide-scrollbar;

  .container {
    width: 1140px;
  }

  // Option: image-first / text-first
  &.image-first {
    .card__image {
      order: 1;
    }
    .card__text-content {
      order: 2;
    }
  }
  &.text-first {
    .card__image {
      margin-top: 24px;
      order: 2;
    }
    .card__text-content {
      order: 1;
    }
  }

  // Option: background color / box design
  //background & Box-design options with button color changes
  @include bg-feature(".card");

  // Optio: Graphic Type: Image(default) / Icon
  &.graphic-icon {
    .card__image {
      padding: 20%;
    }
  }
}
