.rooms.module {
  .container {
    .section_title {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 50px;

      @media only screen and (max-width: $bp-tablet) {
        font-size: 40px;
      }
    }

    .wrapper-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      .card {
        border-radius: 8px;
        background-color: #fff;
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .image-wrapper {
          max-width: 381px;

          img {
            border-radius: 8px;
          }
        }
        .gallery-link {
          cursor: pointer;
          &:hover {
            transform: scale(1.02);
          }
        }
        .name {
          font-size: 40px;
          font-weight: 800;
          padding-top: 40px;
        }

        .book_froom {
          font-size: 20px;
          line-height: 28px;

          @media only screen and (max-width: $bp-tablet) {
          }

          .gone {
            color: #808080;
          }
        }

        .wrapper {
          display: flex;
          font-size: 24px;
          line-height: 32px;
          justify-content: space-around;
          padding: 40px 0;
        }

        .price {
          padding-bottom: 40px;
          font-size: 18px;
        }

        .buttons--wrapper {
          padding-bottom: 40px;

          .btn.gone {
            color: #b3b3b3;
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
}
