.h-line {
  //Structure
  .container {
    width: 100%;
  }

  // line color
  $line-color: (
    "blue-middle": $c-blue-middle,
    "blue-dark": $c-blue-dark,
    "green-middle": $c-green-middle,
    "orange-middle": $c-orange-middle,
    "red-middle": $c-red-middle,
    "gray-light": $c-gray-light,
    "gray-middle": $c-gray-middle,
  );

  @each $c-name, $color in $line-color {
    .line {
      &.#{$c-name} {
        background-color: $color;
      }
    }
  }

  .line {
    height: 1px;
    border-radius: 8px;
  }
}
