*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // // This defines what 1rem is
  font-size: 16px;
  max-width: $body-max-width;
  box-sizing: border-box;
  margin: auto;
}

body {
  box-sizing: border-box;
}

#page {
  @include grid12andMargin;
}

.module {
  grid-column: center-start / center-end;

  &.module-fullwidth {
    grid-column: full-start / full-end;
    justify-content: center;
  }
}
