*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // // This defines what 1rem is
  font-size: 16px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

p {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em auto;
}

.container {
  max-width: 1140px;
  margin: auto;
}
