body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.5;
  color: $color-black;
}

// FONT
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-h6: 1.563em;
$font-size-h5: 1.953em;
$font-size-h4: 2.441em;
$font-size-h3: 3.052em;
$font-size-h2: 3.815em;
$font-size-h1: 4.768em;

p,
a {
  font-size: $font-size-base;
}

strong {
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin: 0;
}
h {
  &1 {
    font-size: $font-size-h1;
  }
  &2 {
    font-size: $font-size-h2;
  }
  &3 {
    font-size: $font-size-h3;
  }
  &4 {
    font-size: $font-size-h4;
  }
  &5 {
    font-size: $font-size-h5;
  }
  &6 {
    font-size: $font-size-h6;
  }
}

.text {
  &-large {
    font-size: $font-size-large;
  }
  &-bold {
    font-weight: 700;
  }
}

.btn {
  font-size: 1.25em;
}
