.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  &-top {
    &--small {
      padding-top: 1.5rem;
    }
    &--medium {
      padding-top: 4rem;
    }
    &--big {
      padding-top: 8rem;
    }
  }
  &-bottom {
    &--small {
      padding-bottom: 1.5rem;
    }
    &--medium {
      padding-bottom: 4rem;
    }
    &--big {
      padding-bottom: 8rem;
    }
  }
}
