.body-no-scroll {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  &-top {
    &--null {
      padding-top: 0px;
    }
    &--small {
      padding-top: 1.5rem;
    }
    &--medium {
      padding-top: 4rem;
    }
    &--big {
      padding-top: 8rem;
    }
  }
  &-bottom {
    &--null {
      padding-top: 0px;
    }
    &--small {
      padding-bottom: 1.5rem;
    }
    &--medium {
      padding-bottom: 4rem;
    }
    &--big {
      padding-bottom: 8rem;
    }
  }
}

@media only screen and (min-width: $bp-largest) {
  .display--mobile {
    display: none;
  }
}
@media only screen and (max-width: calc( $bp-largest - 1px)) {
  .display--desktop {
    display: none;
  }
}

.display--none {
  display: none;
}
