.card-list {
  // Structure & Spaces(paading margin)
  img {
    width: 100%;
  }
  .container {
    display: flex;
    column-gap: 24px;
  }
  .card {
    width: 100%;
  }
  .card--inner {
    margin: 10%;
    max-width: 100%;
  }
  .card__text-content {
    .heading {
      margin: 0.5em 0;
    }
    .buttons {
      margin: 1.5em 0;
      *:first-child {
        margin-bottom: 1em;
      }
    }
  }

  // Option: image-first / text-first
  &.image-first {
    .card__image {
      order: 1;
    }
    .card__text-content {
      order: 2;
    }
  }
  &.text-first {
    .card__image {
      order: 2;
    }
    .card__text-content {
      order: 1;
    }
  }

  // Option: background color / box design
  &.bg-blue {
    background-color: $color-blue-light;

    &.box-design {
      background-color: unset;
      .card {
        background-color: $color-blue-light;
      }
    }

    color: $color-white;
    .btn--fill {
      background-color: $color-white;
      color: $color-blue-light;
      border: solid 2px $color-white;
    }
    .btn--empty {
      color: $color-white;
      border: solid 2px $color-white;
    }
    .link--underline {
      color: $color-white;
    }
  }

  // Optio: Graphic Type: Image(default) / Icon
  &.graphic-icon {
    .card__image {
      padding: 20%;
    }
  }
}
