.height {
  &--90vh {
    height: calc(90vh - #{$header-height});
  }
  &--75vh {
    height: calc(75vh - #{$header-height});
  }
  &--50vh {
    height: calc(50vh - #{$header-height});
  }
}

.teaser {
  // structure
  position: relative;
  &__content,
  &__text {
    row-gap: 3.5rem;
  }

  // color, background image
  &__bg-image {
    opacity: 1;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }
  &__bg-gradient {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &.tc--blue-light {
    color: $color-blue-light;
  }
  &.tc--white {
    color: $color-white;
    .btn--fill {
      background-color: $color-white;
      color: $color-blue-light;
      border: solid 2px $color-white;
    }
    .btn--empty {
      color: $color-white;
      border: solid 2px $color-white;
    }
    .link--underline {
      color: $color-white;
    }
  }

  // Media Queary
  @media only screen and (max-width: $bp-largest) {
    .container {
      @include sidePadding;
    }
  }
  @media only screen and (max-width: $bp-smallfont) {
    .buttons--wrapper {
      grid-auto-flow: row;
      min-width: 60%;
    }
  }
}
