.module.textbox {
  @include grid12;
  p,
  a {
    font-size: $font-size-large;
  }

  .textbox__content {
    grid-column: col-start 2 / col-end 11;
  }

  .textbox__buttons {
    grid-column: col-start 1 / col-end 12;
    & > * {
      min-width: $gird-column-width * 2 + $gutter-vertical;
    }
    & > *:not(:last-child) {
      margin-right: $gutter-vertical;
    }
  }

  .textbox__content > *,
  .textbox__buttons {
    margin-top: 40px;
  }

  &.bg-blue {
    background-color: $color-blue-light;
    color: $color-white;

    .btn--fill {
      background-color: $color-white;
      color: $color-blue-light;
      border: solid 2px $color-white;
    }

    .btn--empty {
      color: $color-white;
      border: solid 2px $color-white;
    }
  }
}
