.module.textbox {
  p,
  a {
    font-size: $font-size-large;
  }

  .textbox__content > *,
  .textbox__buttons {
    margin-top: 40px;
  }

  &.bg-blue {
    background-color: $color-blue-light;
    color: $color-white;

    .btn--fill {
      background-color: $color-white;
      color: $color-blue-light;
      border: solid 2px $color-white;
    }

    .btn--empty {
      color: $color-white;
      border: solid 2px $color-white;
    }
  }
}
