@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// side padding for small screen
@mixin sidePadding {
  max-width: unset;
  padding-left: 7%;
  padding-right: 7%;
}

@mixin bg($src, $repeat: no-repeat, $pos: null, $color: null, $size: null) {
  @if $color != null {
    background-color: $color;
  }
  background-image: url("../img/#{$src}");
  @if $pos != null {
    background-position: $pos;
  }
  @if $size != null {
    background-size: $size;
  }
  background-repeat: $repeat;
}
