// COLORS
$color-blue-light: #009fe3;
$color-blue-dark: #0064a3;
$color-blue-dark2: #083f74;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Width
$body-max-width: 1920px;
$content-width-normal: 1140px;

// height
$header-height: 70px;

// Breakpoint
$bp-largest: 1250px;
$bp-smallfont: 600px;
