.subnavigation {
  //Structure  & Default color
  margin: 3em auto;
  position: sticky;
  top: 1.5rem;
  box-shadow: 0 0 1.5em 2em $c-bg-white;
  background-color: $c-bg-white;
  z-index: $h-z-index-default;

  .container {
    nav {
      display: flex;
      border-radius: 8px;
      background: $c-blue-light;
      line-height: 2.5em;
      font-size: 20px;
    }

    a {
      margin: 2px 2px;
      text-align: center;
      flex: 1;
      position: relative;
      font-weight: 700;

      // underline
      &::after {
        content: "";
        height: 4px;
        width: 100px;
        position: absolute;
        background-color: $c-blue-dark;
        visibility: hidden;
        transform: translate(-50%, 50%);
        left: 50%;
        bottom: 0;
      }
      &.active::after {
        visibility: visible;
      }
      &:hover {
        color: $c-blue-dark;
      }
    }
  }
}
