.contact {
  //structure
  .container--inner {
    @include flex(row, 24px);
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    max-width: 750px;
    flex-grow: 1;
  }

  .profilbild_wrapper {
    max-width: 228px;
    height: fit-content;
  }

  .profilbild {
    border-radius: 50%;
  }

  .details {
    padding: 24px 0px 24px 40px;
  }

  &.bg-none .name {
    color: $c-blue-dark;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0;
  }
  .social {
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
  }

  // Media Queary
  @media only screen and (max-width: $bp-smallfont) {
    .container--inner {
      max-width: 400px;
      align-items: center;
      padding-left: 1em;
      padding-right: 1em;
      @include flex(column, 24px);
      .profilbild_wrapper {
        width: 225px;
        aspect-ratio: 1/1;
      }
      .details {
        text-align: center;
        padding-left: 0;
      }
    }
  }
}
